# Ignore everything by default
*

# Allow Terraform configuration files
!*.tf
!*.tfvars

# Allow documentation
!README.md

# Allow this .gitignore file
!.gitignore

# Allow modules directory and its contents, specifically /modules/ecr
!modules/
!modules/ecr/
!modules/ecr/**
!modules/eks/
!modules/eks/**

# Allow envs directory and its contents
!envs/
!envs/**

# Exclude Terraform working directory
.terraform/

# Exclude local system files
.DS_Store

# Exclude any other secrets or local config
*.secret
*.env 
